src/resources/character.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
  <xs:complexType name="Character">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="classes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="class" type="xs:string" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="level" type="xs:positiveInteger" use="required"/>
  </xs:complexType>
  <xs:element name="character" type="Character" />
</xs:schema>

