src/resources/doc.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:include schemaLocation="character.xsd" />
    <xs:complexType name="Characters">
        <xs:sequence>
            <xs:element name="character" type="Character" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="characters" type="Characters" />
</xs:schema>

